.Button {
  background-color: $firstColor;
  border: none;
  border-radius: 2.5rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: $lato;
  font-size: 1.25rem;
  font-weight: 700;
  padding: .5rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out;
  &:focus, &:hover {
    background-color: lighten($firstColor, 13%);
    color: white;
  }
  @media screen and (max-width: 575px) {
    font-size: 1rem;
  }
}
