.Form {
}
.Form__label {
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
}
.Form__control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $textColor;
  border-radius: 0;
  font-size: 1.125rem;
  font-weight: 300;
  &:focus {
    background-color: transparent;
  }
}
.Form__loader {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
.Form__group {
  &.has-feedback {
    &.has-error {
      .Form__control {
        border-bottom-color: darken($firstColor, 5%);
      }
      .help-block {
        color: $firstColor;
      }
    }
  }
}
