.Portada {
  display: flex;
  min-height: 100vh;
}
.Portada__left, .Portada__right {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  width: 50%;
  .carousel-inner, .carousel-item {
    height: 100%;
  }
}
.Portada__left {
  background-image: url('./../images/bg-slider-yellow.jpg');
}
.Portada__right {
  background-image: url('./../images/bg-slider-green.jpg');
}
.Portada__figure {
  width: 40%;
  @media screen and (min-height: 800px) {
    width: auto;
  }
  @media screen and (max-width: 575px) {
    width: auto;
  }
}
.Portada__content {
  align-items: center;
  display: flex;
  height: 100%;
}
.Portada__left__content {
  justify-content: flex-end;
}
.Portada__caption {
  bottom: auto;
  left: auto;
  padding: 0;
  right: auto;
  text-align: left;
  width: 50%;
  h5 {
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
    text-transform: uppercase;
    @media screen and (max-width: 1199px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }
}
.Portada__left__caption {
  left: 10%;
  h5 {
    color: $firstColor;
    font-size: 4rem;
    font-style: italic;
    position: relative;
    span {
      display: inline-block;
      &::after {
        border-bottom: 5px solid $firstColor;
        content: "";
        display: block;
        width: 25%;
      }
    }
    @media screen and (max-width: 1199px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
}
.Portada__right__caption {
  align-self: flex-end;
  bottom: 10%;
  right: 5%;
  h5 {
    border-left: 7px solid white;
    font-size: 2.6rem;
    padding-left: 1rem;
    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
}
.Portada__left__caption, .Portada__right__caption {
  @media screen and (max-width: 991px) {
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    right: auto;
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    padding: 1rem;
  }
}
.Portada__right {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
    @supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
      .carousel-item-next,
      .active.carousel-item-right {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0); } }

  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
    @supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
      .carousel-item-prev,
      .active.carousel-item-left {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0); } }
}
