.Products__nav {
  display: flex;
  justify-content: center;
}
.Products__links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  width: 100%;
  li {
    font-size: 1.625rem;
    font-weight: 400;
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      a {
        border: 1px solid $secondColor;
        color: $secondColor;
        font-weight: 900;
      }
    }
    a {
      border: 1px solid $textColor;
      display: block;
      color: $textColor;
      padding: .5rem 1rem;
      transition: border .2s ease-out;
      &:focus, &:hover {
        color: $secondColor;
        border: 1px solid $secondColor;
      }
    }
  }
}
