.Products__nav {
  display: flex;
  justify-content: center;
}
.Products__links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  width: 100%;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    font-size: 1.625rem;
    font-weight: 400;
    margin-right: 2rem;
    text-align: center;
    @media screen and (max-width: 991px) {
      font-size: 1.25rem;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      a {
        border: 1px solid $secondColor;
        color: $secondColor;
        font-weight: 900;
      }
    }
    a {
      border: 1px solid $textColor;
      display: block;
      color: $textColor;
      padding: .5rem 1rem;
      transition: border .2s ease-out;
      @media screen and (max-width: 991px) {
        padding: 1rem;
      }
      &:focus, &:hover {
        color: $secondColor;
        border: 1px solid $secondColor;
      }
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;
      margin-right: 0;
      width: 45%;
    }
  }
}
.Products__carousel {
  position: relative;
  &--reload {
    .Carousel {
      opacity: .4;
    }
  }
}
.Products__carousel__reload {
  align-items: center;
  color: $firstColor;
  display: flex;
  font-family: "icomoon";
  font-size: 5rem;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
